:root {
    /* sizes */
    /* Extra small devices (phones, 600px and down) */
    --xs-width: 600px;
    /* Small devices (portrait tablets and large phones, 600px and up) */
    --sm-width: 601px;
    /* Medium devices (landscape tablets, 768px and up) */
    --md-width: 768px;
    /* Large devices (laptops/desktops, 992px and up) */
    --lg-width: 992px;
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    --xl-width: 1200px;

    --accent: #e337c6;
    --text-light: #f2f2f2;
}

p {
    color: var(--text-light);
    font-size: 20px;
}

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: montserrat-fallback;
    src: local('Georgia');
    size-adjust: 114%;
}

.container {
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 95%;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        max-width: 590px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}


@media only screen and (min-width: 992px) {
    .container {
        max-width: 900px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

.description {
    color: var(--text-light);
    font-size: 24px;
    font-family: montserrat, montserrat-fallback, serif;
}

@media only screen and (max-width: 600px) {
    .description {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.link {
    color: var(--accent);
    word-break: break-word;
}

#title {
    font-size: 50px;
    color: var(--text-light);
    font-family: montserrat, Georgia;
    margin-top: 60px;
    margin-bottom: 60px;
}

@media only screen and (max-width: 600px) {
    #title {
        font-size: 30px;
    }
}