:root {
    /* sizes */
    /* Extra small devices (phones, 600px and down) */
    --xs-width: 600px;
    /* Small devices (portrait tablets and large phones, 600px and up) */
    --sm-width: 601px;
    /* Medium devices (landscape tablets, 768px and up) */
    --md-width: 768px;
    /* Large devices (laptops/desktops, 992px and up) */
    --lg-width: 992px;
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    --xl-width: 1200px;
}

p {
    color: #f2f2f2;
    font-size: 20px;
}

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
    font-display: swap;
}

.container {
    margin: 0 auto;
    padding: 10px;
}

@media only screen and (max-width: var(--xs-width)) {
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: var(--sm-width)) {
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: var(--md-width)) {
    .container {
        width: 95%;
    }
}


@media only screen and (min-width: var(--lg-width)) {
    .container {
        width: 970px;
    }
}

@media only screen and (min-width: var(--xl-width)) {
    .container {
        width: 1100px;
    }
}

a {
    color: #0db9ee
}

#title {
    font-size: 50px;
    color: #f2f2f2;
    font-family: montserrat, sans-serif;
    margin-top: 60px;
    margin-bottom: 60px;
}