html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.description {
    color: #f2f2f2;
    font-size: 24px;
    font-family: montserrat, sans-serif;
}

@media only screen and (max-width: 600px) {
    .description {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.wrapper {
    flex-direction: column;
    height: 100%;
    display: flex;
}

.descriptionSection {
    padding-bottom: 40px;
}

.countdownSection {
    background-color: #d8e5f5;
    /* flex-grow: 1; */
    padding-bottom: 20px;
}

.timerTitle {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 60px;
    font-family: montserrat, sans-serif;
    color:#181818
}

@media only screen and (max-width: 600px) {
    .timerTitle {
        font-size: 30px
    }
}

.meetupDate {
    font-size: 36px;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    color:#181818;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 600px) {
    .meetupDate {
        font-size: 18px
    }
}



.tickWrapper {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.tick {
    font-size: 1rem;
    white-space: nowrap;
    font-family: arial, sans-serif;
}

.tick-flip,
.tick-text-inline {
    font-size: 2.5em;
}

.tick-label {
    margin-top: 1em;
    font-size: 1em;

    font-family: montserrat, sans-serif;

    color: #181818;
}

.tick-char {
    width: 1.5em;
}

.tick-text {
    color: #181818;
}

.tick-text-inline {
    display: inline-block;
    text-align: center;
    min-width: 1em;
}

.tick-text-inline+.tick-text-inline {
    margin-left: -.325em;
}

.tick-group {
    margin: 0 .5em;
    text-align: center;
}

.tick-text-inline {
    color: #fefefe !important;
}

.tick-flip-panel {
    color: #f2f2f2 !important;
}

.tick-flip-panel-text-wrapper {
    line-height: 1.45 !important;
}

.tick-flip-panel {
    background-color: #3e3c3e !important;
}

.tick-flip {
    border-radius: 0.12em !important;
}

.tick-credits {
    display: none;
}

.locationSection {
    background-color: #181818;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 40px;
}

@media only screen and (max-width: 600px) {
    .locationSection {
        /* only use one column on mobile */
        grid-template-columns: 1fr;
    }
}
  

#map {
    margin-top: 20px;
    margin-bottom: 20px;
    height: clamp(200px, 40vw, 600px);
    width: clamp(200px, 40vw, 600px);
    grid-column: 2;
    grid-row: 1;
}

.mapWrapper {
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    #map {
        height: 90vw;
        width: 90vw;
        grid-column: 1;
        grid-row: 2;
    }
}

.locationDescriptionWrapper {
    display:flex;
    justify-content: center;
}

.locationDescription {
    grid-column: 1;
    grid-row: 1;
    padding: 40px;
    margin: 20px;
    color:#eadaea;

    font-size: 26px;
}

@media only screen and (max-width: 600px) {
    .locationDescription {
        padding: 0px
    }
}